{% extends "base.html" %}

{% block title %}Записи{% endblock %}

{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="post mb-4 pb-3 border-bottom">
        <h3>{{ post.name }}</h3>
        <p>{{ post.text }}</p>
        <div class="image-container" style="max-width:300px;">
            {% for image in post.images %}
            <img src="{{ image.image_path }}" alt="Image" class="img-fluid" style="max-width:300px;"
                 onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="300" height="225"
                 xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Нет изображения</text>
            </svg>
            {% endfor %}
        </div>
        <p>Автор: {{ post.author.first_name }} {{ post.author.last_name }}</p>
        {% if post.tags %}
        <p>Теги: {% for tag in post.tags %}
            #{{ tag.text }}
            {% endfor %}
        </p>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{ url_for('post_detail', post_id=post.id) }}"
                   class="btn btn-sm btn-outline-secondary">Просмотр</a>
            </div>
        </div>
        <div>
            <form method="post" action="{{ url_for('add_comment', post_id=post.id) }}">
                <textarea name="text" id="text"></textarea>
                <button type="submit">Добавить</button>
            </form>
            {% for comment in post.comments %}
            <p>{{ comment.author.first_name}}: {{ comment.text }}</p>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>Постов пока нет.</p>
    {% endfor %}
</div>
{% endblock %}
